# If using Docker:
DATABASE_URL=jdbc:postgresql://localhost:5433/matchme
# If using manual PostgreSQL installation the default would be:
# DATABASE_URL=jdbc:postgresql://localhost:5432/matchme

DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRATION=86400000
PORT=8080
SHOW_SQL=false